<!doctype html>
<html lang="ru">
<head>
	<title>Поиск по картинке</title>
	{% include 'chunks/header.html' %}
</head>
<body class="mb-5">

	<div class="container" >
		<div class="row">

			<div class="col-12">
				<div class="table-responsive">
					<table class="table align-middle overflow-hidden rounded-4">
						<thead>
							<tr>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">Проект</th>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">MP3</th>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">TXT</th>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">Проблемы</th>



							</tr>
						</thead>
						<tbody>

						{% for project, mp3_length, txt, problems in combined_list %}
								<tr>
									<td>
										{{ project }}
									</td>
									<td>
										{{ mp3_length }}
									</td>

									<td>
										{{ txt }}
									</td>
									<td>
										{{ problems }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>




				</div>
				<div class="table-responsive">
					<table class="table align-middle overflow-hidden rounded-4">
						<thead>
							<tr>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">Проблемный файл</th>
								<th class="bg-body-tertiary p-2 p-lg-3" scope="col" style="vertical-align: middle;">Действия</th>



							</tr>
						</thead>
						<tbody>
							{% for problem_file in problem_files %}
								<tr>
									<td>
										{{ problem_file }}
									</td>
									<td>

									</td>


								</tr>
							{% endfor %}
						</tbody>
					</table>




				</div>
			</div>
		</div>

	</div>
</body>
</html>
