<div class="container">
	<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-4">
				<div class="container-fluid">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a href="/" class="nav-link {% if current_page == 'picture' %} active text-primary {% endif %}">
								Поиск по фото
							</a>
						</li>
						<li class="nav-item">
							<a href="/search" class="nav-link {% if current_page == 'code' %} active text-primary {% endif %}">
								Поиск по артикулу 1С
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
